.item {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.item:not(:last-child) {
	margin-bottom: 10px;
}

.item.active a {
	/* color: var(--secondary); */
}

.item img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}