.users {
	padding: 20px;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px 15px;
	justify-content: space-between;
	width: max-content;
}

.pagination {
	margin-top: 20px;
}

.pagination>* {
	cursor: pointer;
}

.pagination>*:not(:last-child) {
	margin-right: 5px
}

.selectedPage {
	color: var(--primary);
	font-weight: bold;
}