.container {
	position: relative;
}

.icon {
	position: absolute;
	top: 50%;
	left: 10px;
	bottom: 0;
	transform: translateY(-50%);
	line-height: 0;
	height: min-content;
}

.infoIcon {
	right: 10px;
	left: auto;
}

.infoIcon svg>* {
	stroke: var(--error);
}

.input {
	width: 100%;
	border-radius: var(--borderRadius);
	border: solid var(--gray400) 2px;
	font-size: 1em;
	line-height: 3em;
	padding-left: 40px;
}

.input::placeholder {
	color: var(--gray300)
}

.input:hover {
	border-color: var(--gray300);
}

.input:active,
.input:focus {
	border-color: var(--primary)
}

.error .inputIcon svg path {
	stroke: var(--error);
	fill: var(--error);
}

.error input,
.error input:hover,
.error input:active,
.error input:focus {
	border-color: var(--error);
}

.animate input {
	animation: .2s cubic-bezier(.64, .19, .51, .67) 2 normal both errorPulse;
}

@keyframes errorPulse {
	from {
		border-color: var(--gray300);
	}

	to {
		border-color: var(--error);
	}
}