.inputWrapper {
	position: relative;
}

.icon {
	position: absolute;
	top: 50%;
	left: 10px;
	bottom: 0;
	transform: translateY(-50%);
	font-size: 1.7em;
}

.input {
	width: 100%;
	border-radius: var(--borderRadius);
	border: solid var(--gray300) 2px;
	font-size: 1.2em;
	line-height: 3em;
	padding-left: 40px;
}

.input::placeholder {
	color: var(--gray300)
}