.chatInput {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.input {
	flex: 1;
	height: 4rem;
	border-radius: var(--borderRadius);
	padding: 5px;
}

.sendBtn {
	position: absolute;
	background-color: transparent;
	right: 10px;
}

.disabled>* {
	fill: var(--iconDisabled);
}