.item {
	display: flex;
	align-items: center;
	column-gap: 30px;
	width: 70%;
}

.item img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: var(--white);
	object-fit: cover;
}

.item img.default {
	border: 6px solid transparent;
}

.info {
	flex: 1;
}

.btnWrap {
	align-self: flex-start;
}

.followBtn {
	padding: 8px 0;
	width: 100px;
	background-color: var(--primary);
	border-radius: 6px;
	color: var(--white);
}