.item {
	width: 170px;
	background-color: var(--white);
	border-radius: var(--borderRadiusLarge);
	padding: 10px;
}

.item img {
	display: block;
	width: 85%;
	height: auto;
	margin: 0 auto;
}

.info {
	padding-top: 10px;
}

.followBtn {
	display: block;
	width: 100%;
	background-color: var(--primary);
	border-radius: 6px;
	color: var(--white);

	margin: 10px auto 0;
}

.followBtn:disabled {
	cursor: progress;
	background-color: var(--btnDisabled);
}