.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 300px;
	background-color: var(--bgColor);
	border-radius: var(--borderRadiusLarge);
	padding: 40px;
}

.header {
	position: absolute;
	top: 10px;
	left: 15px;
	right: 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}