.avatarMenu {
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, .7);
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all .1s ease-in-out;
}

.avatarMenu.active {
	opacity: 1;
}

.avatarMenu nav {
	width: max-content;
	margin: 0 auto;
	margin-top: 50%;
	transform: translateY(-50%);
}

.list {
	width: max-content;
	color: var(--white);
	font-size: .85em;
	text-align: center;
}

.list li {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
}

.list li:not(:last-child) {
	margin-bottom: 5px;
}

.list li:hover {
	cursor: pointer;
	color: var(--gray500);
}