.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--headerHeight);
	padding: 10px 20px;
	background-color: #fff;
	z-index: var(--zIndexHeader);
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header img {
	height: inherit;
}