.sidebar {
	padding: 15px;
	background-color: var(--white);
	border-radius: var(--borderRadiusLarge);
	margin-top: 10px;
	height: min-content;
}

.item a {
	font-size: 1.2rem;
}

.item a.active {
	color: var(--primary);
}