:root {
	--primary: #6667AB;
	--secondary: #ABAA67;
	--white: #fff;
	--black: #262626;
	--bgColor: #ebebf2;
	--btnDisabled: #484978;

	--headerHeight: 50px;

	--borderRadius: 6px;
	--borderRadiusLarge: 12px;
}