:root {
	--primary: #6667AB;
	--secondary: #ABAA67;
	--accent: #9496F7;
	--white: #fff;
	--black: #262626;
	--gray100: #333;
	--gray200: #555;
	--gray300: #A6A7B9;
	--gray400: #DFDFF7;
	--gray500: #ececec;
	--bgColor: #ebebf2;
	--error: #c1666b;

	--black_alpha70: rgba(0, 0, 0, .7);
	--primary_alpha40: rgba(102, 103, 171, .4);
	--btnDisabled: #484978;

	--headerHeight: 50px;

	--borderRadius: 6px;
	--borderRadiusLarge: 12px;

	--zIndexHeader: 50;
	--zIndexModal: 999;
}