.container {
	flex: 1 1 280px;
}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: flex-start
}

.btnEdit {
	line-height: 0;
	background-color: transparent;
}

.btnEdit>svg>* {
	stroke: var(--iconDisabled);
}

.btnEdit:hover>svg>* {
	stroke: var(--primary);
}