.form {
	display: flex;
	flex-flow: column nowrap;
	width: 300px;
	row-gap: 10px;
	padding: 15px 0 5px;
}

.adds {
	display: flex;
	justify-content: space-between;
}

.button {
	font-size: 1.2em;
	line-height: 3em;
	color: var(--white);
	border-radius: var(--borderRadius);
	width: 100%;
}

.error {
	font-size: 1em;
	height: 1em;
}

.submitButton {
	color: var(--white);
	background-color: var(--primary);
}

.registerLink {
	font-weight: bold;
	color: var(--primary);
	margin-left: 5px;
}

.socialLogin {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 10px;
	width: 300px;
	padding-top: 15px;
}

.socialLogin p {
	text-align: center;
}

.googleButton {
	background-color: #0d66ff;
	position: relative;
}

.socialButton::before {
	content: '';
	display: block;
	position: absolute;
	background-size: contain;
	width: 30px;
	height: 30px;
	top: 10px;
	left: 10px;
}

.googleButton::before {
	background-image: url('../../assets/icons/google-icon.png');
}

.facebookButton {
	background-color: #3b5999;
	position: relative;
}

.facebookButton::before {
	background-image: url('../../assets/icons/facebook-icon.png');
}