* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app__grid {
	width: 1200px;
	margin: 0 auto;

	display: grid;
	grid-template-areas:
		"A A"
		"B C";
	grid-template-rows: 60px auto;
	grid-template-columns: 2fr 10fr;
}

.sidebar {
	grid-area: B;
}

.content {
	grid-area: C;
}