@import url('./css/null.css');
@import url('./css/vars.css');
@import url('./css/fonts.css');

body {
	margin: 0;
	font-family: 'OpenSans-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--bgColor);
	color: var(--black);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h3 {
	font-size: 1.75em;
}

textarea {
	resize: none;
}

a {
	color: var(--black);
}

.container {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100vh;
}

.error {
	color: var(--error) !important
}