.dialogs {
	display: grid;
	grid-template-columns: 4fr 8fr;
	height: calc(100vh - var(--headerHeight));
	padding: 20px;
}

.dialogs .list>*:not(:last-child),
.dialogs .chat>*:not(:last-child) {
	margin-bottom: 10px;
}

.chat {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	overflow: auto;
}